    <footer>
      <div class="container">
        <div class="footer-row">
          <div class="footer-col">
            <p>Falls du mit mir zusammenarbeiten möchtest oder Fragen hast,<br> melde dich einfach per E-Mail.<br> Ich freue mich, von dir zu hören!</p>
          </div>
          <div class="footer-col">
            <p>Kontakt</p>
            <br />
            <a href="mailto:lisa.beyer98@googlemail.com">lisa.beyer98@googlemail.com</a>
            
          </div>
          <div class="footer-col">
            <p>Weitere Seiten</p>
            <br />
            <a href="/index.html">Home</a>
            <br />
            <br />
            <a href="/ueber-mich.html">Über mich</a>
            <br />
            <a href="/projekte.html">Projekte</a>
            <br />
            <a href="/kontakt.html">Kontakt</a>
          </div>
          <div class="footer-col">
            <div class="magnetic-area">
              <button href="mailto:lisa.beyer98@googlemail.com" class="magnet-btn btn">
                <p>Projekt anfragen</p>
              </button>
            </div>
          </div>
        </div>
        <div class="footer-row">
          <p>© 2025 Lisa Beyer. All rights reserved.</p>
          <div class="legal-row">
            <a href="/impressum-datenschutz.html">Impressum & Datenschutz</a>
          </div>
        </div>
      </div>
    </footer>