

<nav>
   
    <div class="toggle-btn">
      <button
        class="burger"
        onclick="this.classList.toggle('active');"
      ></button>
    </div>
  </nav>
  <div class="overlay">
    <div class="overlay-menu">
      <div class="menu-item">
        <div class="menu-item-name">
          <p><a href="/index.html">Home</a></p>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">
          <p><a href="/projekte.html">Projekte</a></p>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">
          <p><a href="ueber-mich.html">Über mich</a></p>
        </div>
      </div>
      <div class="menu-item">
        <div class="menu-item-name">
          <p><a href="kontakt.html">Kontakt</a></p>
        </div>
      </div>
    </div>
  </div>

  